@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Clicker Script';
    src: url('../assets/fonts/ClickerScript.woff2') format('woff2'),
            url('../assets/fonts/ClickerScript.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-VariableFont.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@layer utilities{
    .radial-boxshadow{
        box-shadow: 0px 0px 60px 60px #7B29DD;
    }
}